#root-app {}
nav {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 2rem 0;
}

nav a {}

.active {
  //color: #534b4b;
  color: #fafafa;
}

/* book details */
.book-details {}

/* book reviews */
.book-reviews__container {}

.book-reviews__heading {}

.book-review__item {}

.reviews__footer {}

.book-item {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),
  0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20) !important;
}

input {
  margin-top: 0.5rem !important;
}

a {
  color: white;
}
