.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

.home-wrapper {
  margin: 5rem 0 0;
}
header {}

nav {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 2rem 0;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
}

.active {
  color: #534b4b;
  text-decoration: underline;
  font-weight: bold;
}

/*
 Loading spinner
*/
.spinwrap {
  background: transparent;
  border: 4px solid rgba(212, 212, 217, 0.57);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  color: #5e5e5e;
  font-family: sans-serif;
  font-size: 8px;
  height: 50px;
  left: 50%;
  letter-spacing: 0.3px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px #bdbdbd;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.spinwrap:before {
  animation: animateCircle 1.1s linear infinite;
  border: 5px solid transparent;
  border-radius: 50%;
  border-right: 3px solid rgba(11, 11, 11, 0.89);
  border-top: 2px solid rgba(231, 10, 10, 0.84);
  content: "";
  position: absolute;
  height: 100%;
  top: -3px;
  left: -3px;
  width: 100%;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(115deg);
  }
}

.home-wrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}

/* book details */

.book-details {
  display: flex;
  flex-direction: column;
  width: 80%;
 margin: 0 auto;
}

/* book reviews */
.book-reviews__container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  border: 1px solid lightgray;
}

.book-reviews__heading {
  margin:3rem 0 1rem;
}

.book-review__item {
  padding: 1rem;
  font-size: 0.87rem;
}

.reviews__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
